a.out
*~
*.o
*.lo
*.so
*.a
*.la
*.cache
.deps/
.libs/
*.in
*.log
*.status
Makefile
configure
\#*#
install
build
*.osr
*.osu
*.mp3
*.wav
*.jpeg
*.jpg
*.png
*.osb
*.osz
*.zip
*.osk
*.otf
*.db
*.cfg
*.psd
resources
resources.tar.xz
bigdb
bigdb.tar.xz
*.dll
