*~
*.o
*.lo
*.so
*.a
*.la
*.cache
.deps/
.libs/
*.log
*.status
Makefile
configure
\#*#
install
inst
build
*.osr
*.osu
*.mp3
*.wav
*.jpeg
*.jpg
*.png
*.osb
*.osz
*.zip
*.osk
*.otf
*.db
*.cfg
*.psd
resources
resources.tar.xz
bigdb
bigdb.tar.xz
*.dll
libtool
TAGS

# executables:
taiko_ranking
readdb
makedb
a.out
parse_replay
